html {
	height: 100%;
}

.navbar.navbar-inverse {
	background-color: #444 !important;
}

.alert-success {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.alert-success i.fa {
	margin-right: 10px;
}

form#top-buttons {
	display: inline-block;
	margin-top: 7px;
}

form#top-buttons input,
button#top-reload,
.choise-select span {
	font-family: "FontAwesome";
}

.choise-select select {
	font-size: 16px;
	margin-left: 5px;
}

#widget-columns:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.page-header .col-headers {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
}

.page-header .col-headers i.fa {
	margin-right: 5px;
}

.page-header .col-headers.defined,
ul#widget-columns .one-column:nth-of-type(1) {
	/*background-color: red;*/
}

.page-header .col-headers.in-progress,
ul#widget-columns .one-column:nth-of-type(2) {
	/*background-color: #666;*/
}

.page-header .col-headers.completed {
	background-color: #199570;
}

ul#widget-columns .one-column:nth-of-type(3) {
	background-color: #1FA77E;
}

.box-content {
	max-height: none !important;
}

.gridster-loaded .gridster-item {
	/*height: 100% !important;*/
}

.container.ng-scope {
	overflow-y: hidden;
}

.box-content {
	padding-bottom: 370px !important;
}

li.gridster-item:last-of-type {
    height: 1000px !important;
    padding-bottom: 130px;
}

li.gridster-item:last-of-type .box-content {
	padding-bottom: 0 !important;
	margin-bottom: 20px !important;
}

.modal-section p span {
	margin-left: 0;
}

.attach-btn {
	cursor: pointer;
	padding: 3px 0;
}

.attach-btn:before {
	font-family: "FontAwesome";
	content: "\f093";
}

.page-header .col-headers {
	position: relative;
	padding-top: 6px;
}

.page-header .col-headers span.add-card {
	position: absolute;
	right: 11px;
	top: 11px;
	cursor: pointer;
	font-size: 10px;
}

.task-line-info {
	margin-top: 6px;
	margin-left: 6px;
}

.heigh {
	border-color: transparent;
}

.card-header {
	height: auto;
	padding: 15px 10px;
}

.card-header h5 {
	float: none;
	margin: 0;
}

.box li {
	margin-bottom: 20px !important;
}

.card-btns ul li {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.card-footer {
	height: 48px;
}

.card-footer .task-user span {
	margin-top: 10px;
	font-style: normal;
}

.card-footer .task-user .task-user-img {
	margin-top: 3px;
}

.card-footer .card-btns {
	margin-top: 10px;
}

.modal-header .editable {
	display: inline-block;
	cursor: pointer;
}

.progress {
	height: 30px;
	background: #CCC;
}

.progress-bar {
	line-height: 30px;
	font-size: 14px;
}

.modal-header span {
	font-size: 18px;
}

@media (min-width: 768px) {
	.modal-dialog {
	    width: 420px;
	}
}

@media (max-width: 1366px) {
	li.gridster-item:last-of-type {
	    height: 1000px !important;
	    padding-bottom: 330px;
	}

	.box-content {
		padding-bottom: 230px !important;
	}
}

@media (max-width: 1280px) {
	.box-content {
		padding-bottom: 230px;
	}

	li.gridster-item:last-of-type {
		padding-bottom: 390px;
	}
}

.activity-animate.ng-enter {
  transition: all ease-out 600ms;
  opacity: 0;
}

.activity-animate.ng-enter-active {
  opacity: 1;
}