<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
  <span>Add New Card</span>
</div>
<div class="modal-body">
  <div class="row">
    <div class="modal-row col-lg-12">
      <table>
        <tr>
          <td style="width:30%;"><b class="blue-text">Subject:</b></td>
          <td><input class="modal-textInput" type="text" ng-model="newCard.subject"></td>
        </tr>
        <tr>
          <td style="width:30%;"><b class="blue-text">Priority:</b></td>
          <td><select ng-model="newCard.priority_id" ng-options="p.id as p.name for p in priorities"></select></td>
        </tr>
        <tr ng-if="selected_project.members.length">
          <td style="width:30%;"><b class="blue-text">Assignee:</b></td>
          <td><select ng-model="newCard.assigned_to_id" ng-options="p.id as p.name for p in selected_project.members"></select></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="dismiss()">Close</button>
  <button type="button" ng-click="createCard(widget)" class="btn btn-primary">Create Card</button>
</div>